TaskApp/Libraries/opencv2.framework/Versions/A/realm filter=lfs diff=lfs merge=lfs -text
Carthage/Build/iOS/Realm.framework/Realm filter=lfs diff=lfs merge=lfs -text
Carthage/Build/iOS/Realm.framework.dSYM/Contents/Resources/DWARF/Realm filter=lfs diff=lfs merge=lfs -text
